form {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-template-rows: repeat(auto-fill, 1fr);
  height: 300px;
  width: 300px;
  min-height: fit-content;
  min-width: fit-content;
  background-color: pink;
  border: solid black 2px;
  border-radius: 3px;

  .inputContainer {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    label {
      text-align: start;
      word-break: break-word;
      white-space: normal;
    }
  }
}
