.box {
  min-width: 300px;
  width: 100%;
  height: fit-content;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #191919;
  text-align: center;

  h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 200;
  }

  .text {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 30px;
    transition: 0.5s;
  }

  .text:focus {
    border-color: #2ecc71;
  }

  p {
    color: red;
    position: relative;
    bottom: 18px;
    font-size: 12px;
  }

  .submit {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #23cc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }

  .submit:hover {
    background: #2ecc71;
  }

  .text:focus::-webkit-input-placeholder {
    position: relative;
    font-size: 10px;
  }
}

@media screen and (min-width: 200px) {
  .text:focus {
    width: 100%;
  }
  .text:focus::-webkit-input-placeholder {
    bottom: 15px;
  }
}

@media screen and (min-width: 481px) {
  h1 {
    font-size: 39px;
  }
  .text {
    font-size: 15px;
  }
  .text:focus {
    width: 280px;
  }

  .text:focus::-webkit-input-placeholder {
    bottom: 17.7px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 45px;
  }

  .text {
    font-size: 20px;
    width: 250px;
  }

  .text:focus {
    width: 350px;
  }

  .submit {
    width: 18.5%;
  }

  .text:focus::-webkit-input-placeholder {
    bottom: 20px;
  }
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 60px;
  }

  .text {
    font-size: 22px;
    width: 300px;
  }

  .text:focus {
    width: 400px;
  }

  .text:focus::-webkit-input-placeholder {
    bottom: 25px;
  }
}
