nav {
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  height: fit-content;
  font-size: 25px;
  font-weight: 300;

  .title {
    text-align: center;
  }
}

@media screen and (min-width: 481px) {
  nav {
    font-size: 29px;
  }
}

@media screen and (min-width: 768px) {
  nav {
    font-size: 35px;
  }
}

@media screen and (min-width: 991px) {
  nav {
    font-size: 50px;
    height: fit-content;
  }
}
